

<table class="Profile" summary="Profile information">
	<tr>
		<td class="main">
			<h1>


</h1>

		</td>
		<td class="sidebar round">
		
			<strong>URL</strong><%= link_to user_path(@user),@user %>
		</td>
	</tr>

</table>